 .c203{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
   
  height: auto;
    
} 
.c202{
    
  height: auto;
}
.c205{
margin: auto;

}

.c506
{
    width: 80%;
    margin:auto;
}
.cheading{
  font-family: 'Raleway', sans-serif;
  color: purple;
}
.ctext{
  font-family: 'Montserrat', sans-serif;
  color: gray;
  
  
}
.c786{
  width: 200px;
  height: 200px;
}
.c780{
 
  font-family: 'Roboto Slab', serif;
}
.c781{
 
  font-family: 'Karla', sans-serif;
}
.c782{
 
  background-color: grey;
}
.c785{
 
  color: aliceblue;
}